{% extends "registration/base.html"%}
{% load static %}


{% block content %}


    <div class="container h-100">
        <div class="row align-items-center text-center h-20">
            <div class="col-12">
                <p class="text-success text-mono">
                    You have proven that you are <br>
                    not a bot. <a href="{% url 'auth_login'%}">You can now login.</a> <br>
                </p>

                

            </div>
        </div>

        <div class="row align-items-center text-center h-50">

            <blockquote class="blockquote blockquote-reverse">
                <h4 class="display-4">
                    ロボットはアクティベーションリンクをクリックできません。</p>
                <footer class="blockquote-footer">"robots can't click activation links." <br>
                  <cite class="text-mono" title="ancient japenese wisdom">- Fanfic based on <br> Ancient Japanese Wisdom</cite>
                </footer>
            </blockquote>

        </div>
    </div>

{% endblock %}