{% extends "registration/base.html"%}
{% load static %}


{% block content %}


    <div class="container h-100">
        <div class="row align-items-center text-center h-40">
            <div class="col-12">
                <p class="text-success text-mono mt-5">
                    Your password is changed. <br>
                    You as a human being have too. <br>
                    <a class="text-light"  href="{% url 'postrapp:index_view' %}">Click here, to return.</a>    
                </p>
            </div>
        </div>

        <div class="row align-items-center text-right h-50">

            <blockquote class="blockquote blockquote-reverse">
                
                <h4 class="display-4">
                    唯一 の チェーンジ は 円 です</h4>
                <footer class="blockquote-footer">"The only acceptable Change is Yen." <br>
                  <cite class="text-mono" title="ancient japenese wisdom">-Ancient Japanese Shopkeeper</cite>
                </footer>
            </blockquote>

        </div>
    </div>

    


    



{% endblock %}