{% extends "registration/base.html"%}
{% load static %}
{% load widget_tweaks %}


{% block content %}


    <div class="container h-100">

        <div class="row align-items-center text-center">
            <div class="col-12 mx-auto">
                <h1 class="display-3 text-light">t i m e </h1>
                <h1 class="display-3 text-light"> f o r </h1>
                <h1 class="display-3 text-light">c h a n g e </h1>
            </div>
        </div>

        <div class="row align-items-center text-center h-50">

            <div class="col-4 mx-auto">
            <form method="post" action=".">
                {% csrf_token %}
    
                <label for="old-password" class="text-success text-mono">{{ form.old_password.label }}</label>
                {% render_field form.old_password type="password" id="old-password" class="registrationInput text-mono col-12 mb-2" %}
    
                <label for="password1" class="text-success text-mono">{{ form.new_password1.label }}</label>
                {% render_field form.new_password1 type="password" id="password1" class="registrationInput text-mono col-12 mb-2" %}

                <label for="password2" class="text-success text-mono">{{ form.new_password2.label }}</label>
                {% render_field form.new_password2 type="password" id="password2" class="registrationInput text-mono col-12 mb-2" %}
    
                <input type="submit" class="btn btn-shadow text-mono btn-outline-success my-3" value="change" />
            </form>
    
            </div>
    
        </div>

    </div>
{% endblock %}