{% extends "registration/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<div class="container">

    <div class="row align-items-center justify-content-center mt-5">

        <div class="col-6 mt-5 text-center">

            <h1 class="display-3 text-light">r e s e t.</h1>

        </div>

        <div class="col-10 mx-auto text-center">

            <p class="text-mono text-light">

                You can enter your registered email address. Reset instructions will be sent there. <br>
    
                If you remembered your password, <a href="{% url 'auth_login' %}">click here to login.</a>
    
            </p>

        </div>

        

    </div>


    <form method=POST action="." class="mt-5">
        {% csrf_token %}
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-6 mx-auto text-center">
                <label for="email" class="text-success text-mono text-center">{{ form.email.label }}</label>
            </div>
            
            <div class="col-8 mx-auto text-center">
                {% render_field form.email id="email" type="email" id="username" class="registrationInput text-mono col-6 mb-2" %}
            </div>

            
    
            <div class="col-6 mx-auto text-center">
                <input type="submit" value="Send me the reset link." class="btn btn-shadow text-mono btn-outline-success my-3">
            </div>
            
    
        </div>
        
    </form>

</div>





{% endblock %}