{% extends "registration/base.html"%}
{% load static %}


{% block content %}


    <div class="container h-100">
        <div class="row align-items-center text-center h-20">
            <div class="col-12">
                <p class="text-success text-mono">
                    Your credentials are acceptable. <br>
                    You need to confirm that you are not a bot. <br>
                    You have been sent an activation link in your email. <br>
                    Click on it to confirm you are not a bot, <br>
                    Thus activating your account. <br>        
                </p>

            </div>
        </div>

        <div class="row align-items-center text-center h-50">

            <blockquote class="blockquote blockquote-reverse">
                <h4 class="display-4">ロボットにはメールアカウントがありません</p>
                <footer class="blockquote-footer">"robots don't have email accounts" <br>
                  <cite class="text-mono" title="ancient japenese wisdom">-Ancient Japanese Wisdom</cite>
                </footer>
            </blockquote>

        </div>





    </div>

    


    



{% endblock %}