# Databases
*db.sqlite3*

# Compiled Python files

*.pyc*

# VSCode Related
*vscode*
*DS_Store*

# Folders
*migrations/  


# Pycharm related
*idea*

# revmoving virtual environment files
*django-project/

# Logs # 
*.log