{% extends 'postrapp/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-9 col-sm-12">

            <h1 class="display-2">P0ST</h1>
            <form action="{% url 'postrapp:create_view'%}" method="POST" class="my-2">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 form-group">
                        {% render_field post_form.content class="col-12" id="post-text" placeholder="why do you think I should click this post?"%}
                        <!-- <textarea id="post-text"  class="col-12" placeholder="why do you think I should click this post?"></textarea> -->
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-12 text-center">
                        
                        {% render_field post_form.article_hyperlink type="text" class="input-field form-control text-light text-mono" placeholder="article_hyperlink"%}
                        <!-- <input type="text" class="input-field form-control text-light text-mono" placeholder="article_hyperlink"> -->
                    </div>
                </div>

                <div class="row post-author-tags  align-items-center p3-3">

                    <div class="col-2 text-center">
                        {% render_field post_form.tag_1 type="text" class="input-field form-control text-light text-mono"  placeholder="tag"%}
                        <!-- <input type="text" class="input-field form-control text-light text-mono"  placeholder="tag">                         -->
                    </div>

                    <div class="col-2 text-center">
                        {% render_field post_form.tag_2 type="text" class="input-field form-control text-light text-mono"  placeholder="tag"%}
                        <!-- <input type="text" class="input-field form-control text-light text-mono"  placeholder="tag"> -->
                    </div>

                    <div class="col-4 text-center text-mono">
                         <span class="input-field form-control" style="border-style:none;">{{user}}</span>
                    </div>

                    <div class="col-2 text-center">
                        {% render_field post_form.tag_3 type="text" class="input-field form-control text-light text-mono"  placeholder="tag"%}
                        <!-- <input type="text" class="input-field form-control text-light text-mono"  placeholder="tag"> -->
                    </div>

                    <div class="col-2 text-center">
                        {% render_field post_form.tag_4 type="text" class="input-field form-control text-light text-mono"  placeholder="tag"%}
                        <!-- <input type="text" class="input-field form-control text-light text-mono"  placeholder="tag"> -->
                    </div>

                </div>

                <div hidden>
                    {% render_field post_form.action value="post" %}
                </div>

                <div class="row py-2  align-items-center">

                    <div class="col-3"> </div>
                    <div class="col-6 text-center"><button class="text-success text-mono btn btn-danger btn-shadow px-3 my-2 ml-0" type="submit">CREATE POST</button></div>
                    <div class="col-3"> </div>
                    
                </div>

            </form>
        </div>

        <div class="col-md-3 col-sm-12">
            <h1 class="display-2">TAG</h1>
            <form action="" method="POST">
                {% csrf_token %}


                <div class="form-group mb-5 row justify-content-center">

                    {% render_field tag_form.tag_name class="form-control input-field text-mono text-light col-12 mb-3" placeholder="create_tag" aria-label="Tag Name" aria-describedby="basic-addon2"%}
                    {% render_field tag_form.tag_description class="form-control input-field text-mono text-light col-12 mb-3" rows="2" placeholder="tag_description" %}
                    <div hidden>
                        {% render_field tag_form.action value="tag" %}
                    </div>
                    <div class="input-group-append">
                      <button class="text-success text-mono btn btn-danger btn-shadow" type="submit">cre8 tag</button>
                    </div>
                </div>

            </form>
            


            <div class="list-group mb-4">
                <div class="list-group-item text-mono input-field text-success"><b>tags-you-created : </b></div>
                {% for tag in tags_by_user %}
                <a href="{% url 'postrapp:tag_view' tag.tag_slug %}" class="list-group-item list-group-item-action text-mono input-field">{{tag.tag_name}}</a>
                {% endfor %}
            </div>

            <div class="input-group">
                <div class="input-group mb-2">
                    <input type="text" class="form-control input-field text-mono text-light" placeholder="search_tags">
                    <div class="input-group-append">
                        <a href="#!" class="btn btn-outline-success btn-shadow">
                            <span class="fas fa-search"></span>
                        </a>                          
                    </div>
                </div>                  
            </div>
              

        </div>


    </div>


    

</div>


{% endblock %}