{% extends 'postrapp/base.html' %}
{% load static %}


{% block content %}

    {% for post in all_posts %}
    <div class="container">
        <div class="card text-white mb-3 index-card" style="min-width: 500px;">

            
            <!-- post content -->
            <div class="row align-items-center post-content">            
                    <div class="col-12">
                        <a href="{{post.article_hyperlink}}" class="index-hyperlink">
                        <p class="card-text text-center text-mono index-hyperlink" >{{ post.content }}</p>
                        </a>
                    </div>
            </div>

            <!-- post author and tags -->
            <div class="row post-author-tags">
                <div class="col-lg-2 d-none d-lg-block text-center" ><a href="{% url 'postrapp:tag_view' post.tag_1.tag_slug %}" class="tag-text-index-view tag-1">{{post.tag_1.tag_name}}</a></div>
                <div class="col-lg-2 col-md-4 col-sm-3 d-none d-sm-block text-center text-mono" ><a href="{% url 'postrapp:tag_view' post.tag_2.tag_slug %}" class="tag-text-index-view tag-2">{{post.tag_2.tag_name}}</a></div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center p-0 text-mono" > <a class="index-card-poster-name" href="{%url 'userprofile:profile_view' post.poster%}">{{post.poster}}</a></div>
                <div class="col-lg-2 col-md-4 col-sm-3 d-none d-sm-block text-center text-mono" ><a href="{% url 'postrapp:tag_view' post.tag_3.tag_slug %}" class="tag-text-index-view tag-3">{{post.tag_3.tag_name}}</a></div>
                <div class="col-lg-2 d-none d-lg-block text-center text-mono" ><a href="{% url 'postrapp:tag_view' post.tag_4.tag_slug %}" class="tag-text-index-view tag-4">{{post.tag_4.tag_name}}</a></div>
            </div>    

            <!-- post statistics -->
            <div class="row post-stats">
                <div class="col-lg-1 col-md-1 col-sm-2"><!-- empty space, for symmetry --></div>
                <div class="col-lg-10 col-md-10 col-sm-8 text-center">
                    <div class="row">
                        
                        <!-- on large and xlarge screens -->
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-success btn-shadow px-3 my-2 ml-0" href="post.html">{SEEN_COUNT:{{post.seen_count}}}</a></div>
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-primary btn-shadow px-3 my-2 ml-0" href="post.html">{CLICK_COUNT:{{post.click_count}}}</a></div>
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-danger btn-shadow px-3 my-2 ml-0" href="post.html">{R3CC_COUNT:{{post.read_count}}}</a></div>
                        
                        <!-- on medium screens -->
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-success btn-shadow px-3 my-2 ml-0" href="post.html">{{post.seen_count}}</a></div>
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-primary btn-shadow px-3 my-2 ml-0" href="post.html">{{post.click_count}}</a></div>
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-danger btn-shadow px-3 my-2 ml-0" href="post.html">{{post.read_count}}</a></div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"><!-- empty space, for symmetry --></div>
            </div>

            <!-- featured image -->
            <div class="row align-items-center post-bg-img" hidden>
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{post.image_hyperlink}}" alt="Card image cap">
                </div>
            </div>

        </div>
    </div>
    {% endfor %}


{% endblock %}