<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PostrBoi</title>
        
        {% include "blog/css_links.html" %}

        <!-- <script src="{% static 'js/custom.js'%}"></script> -->

    </head>
    <body>

   
        <!-- navbar -->
        {% include "blog/navbar.html" %}

        <!-- page header -->
        {% include "blog/page-header.html" %}

        <!-- create post/tag -->
        {% include "blog/create_post.html" %}

        <!-- footer -->
        {% include "blog/footer.html" %}

        <!-- scripts -->
        {% include "blog/scripts.html" %}
        

    </body>
</html>
