{% load staticfiles %}

<div class="container">
    <div class="row fixed-bottom">

        <div class="col-12 text-mono text-center" style="background-color: darkgrey; font-size: small; border: black; border-radius: 2px; border-style: solid; opacity: 0.5;">
            Console

        </div>

        <div class="col-12 text-mono" style="background-color: grey; border-bottom: black; border-radius: 2px; border-style: solid; opacity: 0.5;">
            Enter your command here...
        </div>
        <div class="col-12 text-mono" style="background-color: grey; border-bottom: black; border-radius: 2px; border-style: solid; opacity: 0.5;">
            Type "command --list" for a list of all commands.
        </div>
        <div class="col-12 text-mono" style="background-color: grey; border-bottoms: black; border-radius: 2px; border-style: solid; opacity: 0.5;">
            Type \command \ --help for help with a specific command.
        </div>



        <div class="col-12">
            <form action="" >
                <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Enter command here</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                        </div>
                        <input type="text" class="form-control text-mono" id="inlineFormInputGroup" placeholder="Enter Command Here">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success text-mono" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>