{% load staticfiles %}

<div class="container">
    <div class="row fixed-bottom">
        <div class="col-12">
            <form action="" >
                <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Enter command here</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                        </div>
                        <input type="text" class="form-control text-mono" id="inlineFormInputGroup" placeholder="Enter Command Here">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success text-mono" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>