{% load staticfiles %}

<div class="container">
    {% for post in all_posts %}
    <div class="container">
        <div class="card text-white mb-3 index-card" style="min-width: 500px;">

            
            <!-- post content -->
            <div class="row align-items-center post-content">
                <div class="col-12">
                    <p class="card-text text-center text-mono" >{{ post.content }}</p>
                </div>
            </div>

            <!-- post author and tags -->
            <div class="row post-author-tags">
                <div class="col-lg-2 d-none d-lg-block text-center text-mono" >{{post.tag_1}}</div>
                <div class="col-lg-2 col-md-4 col-sm-3 d-none d-sm-block text-center text-mono" >{{post.tag_2}}</div>
                <div class="col-md-4 col-sm-6 col-xs-12 text-center p-0 text-mono" > <a href="#">{{post.poster}}</a></div>
                <div class="col-lg-2 col-md-4 col-sm-3 d-none d-sm-block text-center text-mono" >{{post.tag_3}}</div>
                <div class="col-lg-2 d-none d-lg-block text-center text-mono" >{{post.tag_4}}</div>
            </div>    

            <!-- post statistics -->
            <div class="row post-stats">
                <div class="col-lg-1 col-md-1 col-sm-2"><!-- empty space, for symmetry --></div>
                <div class="col-lg-10 col-md-10 col-sm-8 text-center">
                    <div class="row">
                        
                        <!-- on large and xlarge screens -->
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-success btn-shadow px-3 my-2 ml-0" href="post.html">{SEEN_COUNT:{{post.seen_count}}}</a></div>
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-primary btn-shadow px-3 my-2 ml-0" href="post.html">{CLICK_COUNT:{{post.click_count}}}</a></div>
                        <div class="col-4 d-none d-lg-block"><a class="text-success text-mono btn btn-outline-danger btn-shadow px-3 my-2 ml-0" href="post.html">{R3CC_COUNT:{{post.read_count}}}</a></div>
                        
                        <!-- on medium screens -->
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-success btn-shadow px-3 my-2 ml-0" href="post.html">{{post.seen_count}}</a></div>
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-primary btn-shadow px-3 my-2 ml-0" href="post.html">{{post.click_count}}</a></div>
                        <div class="col-4 d-md-block d-lg-none"><a class="text-success text-mono btn btn-outline-danger btn-shadow px-3 my-2 ml-0" href="post.html">{{post.read_count}}</a></div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"><!-- empty space, for symmetry --></div>
            </div>

            <!-- featured image -->
            <div class="row align-items-center post-bg-img" hidden>
                <div class="col-12 text-center">
                    <img class="img-fluid" src="{{post.image_hyperlink}}" alt="Card image cap">
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>