{% load staticfiles %}



<div class="container">
    <div class="card index-card text-white mb-3 " style="min-width: 500px;">
        <div class="row">
            <div class="col-2 col-s-none">
                <img class="img-fluid" src="{% static 'images/scifi.jpeg'%}" alt="Card image cap">
            </div>
            <div class="col-10 p-2">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <div class="badge badge-pill badge-success d-inline">tag1</div>
                <div class="badge badge-pill badge-success d-inline">tag2</div>
                <div class="badge badge-pill badge-success d-inline">tag1</div>
                <div class="badge badge-pill badge-success d-inline">tag2</div>
                <div class="badge badge-pill badge-success d-inline">tag1</div>
                <div class="badge badge-pill badge-success d-inline">tag2</div>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-4"><a class="text-success text-mono btn btn-danger btn-shadow px-3 my-2 ml-0" href="post.html">P0ST</a></div>
                    <div class="col-4"><a class="text-success text-mono btn btn-danger btn-shadow px-3 my-2 ml-0" href="post.html">P0STdubnioefbnisfn</a></div>
                    <div class="col-4"><a class="text-success text-mono btn btn-danger btn-shadow px-3 my-2 ml-0" href="post.html">P0STaoudcbaoucbo</a></div>
                    
                        
                </div>
            </div>

        </div>
        
    </div>
</div>

