<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PostrBoi</title>
        
        {% include "userprofile/snippets/css_links.html" %}

    </head>
    <body>

   
        <!-- navbar -->
        {% include "userprofile/snippets/navbar.html" with current_user=current_user %}

        <!--  content  -->
        {% block content %}
        {% endblock %}

        <!-- footer -->
        {% include "userprofile/snippets/footer.html" %}

        <!-- scripts -->
        {% include "userprofile/snippets/scripts.html" %}
        

    </body>
</html>
