{% load staticfiles%}
{% load widget_tweaks %}

<div class='container'>

    <div class='row' style="height: 250px;">

        <div class='col-12 text-center'>
            <form action="#" method="POST">
                {% csrf_token%}

                <div class='col-12 my-5'>
                    <label for="username" class="text-mono text-success">username : </label>
                    <input type="text" class="terminal-entry text-terminal" id='username' name='username' autofocus>
                </div>

                <div class='col-12 mb-5'>
                    <label for="password" class="text-mono text-success">password : </label>
                    <input type="text" class="terminal-entry text-terminal" id='password' name='password'>

                </div>
                
                <div class="col-12">

                    <button type="submit" class="btn btn-shadow text-mono btn-outline-success btn-sm mb-2 col-4">Login.</button>
                    <a href="signup" class="text-mono blockquote-footer mb-1 ">Register -</a>
                    <a href="signup" class="text-mono blockquote-footer">Forgot credentials -</a>

                </div>
                


            </form>
        </div>

    </div>
    


</div>