{% load staticfiles %}
{% load widget_tweaks %}



  <div class="row py-5">

    <div class="col-2"></div>

        <div class="col-8">

            <form action="{% url 'login:register'%}" method="POST" class="needs-validation">
                {% csrf_token %}
                <div class="row text-center">

                    <!-- first name  -->
                    <div class="col-md-6 mb-3">
                        <label for="{{signup_form.first_name.name}}" class="text-mono text-success col-6">{{signup_form.first_name.name}} : </label>
                        {% render_field signup_form.first_name class="form-control terminal-entry text-terminal" id=signup_form.first_name.name name=signup_form.first_name.name required=True %}
                        {% for error in signup_form.first_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- last name  -->
                    <div class="col-md-6 mb-3">
                        <label for="{{signup_form.last_name.name}}" class="text-mono text-success col-6">{{signup_form.last_name.name}} : </label>
                        {% render_field signup_form.last_name class="form-control terminal-entry text-terminal" id=signup_form.last_name.name name=signup_form.last_name.name required=True %}
                        {% for error in signup_form.last_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="{{signup_form.username.name}}" class="text-mono text-success">{{signup_form.username.name}} :  </label>
                        {% render_field signup_form.username class="form-control terminal-entry text-terminal" id=signup_form.username.name name=signup_form.username.name required=True %}
                        {% for error in signup_form.last_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="{{signup_form.email.name}}" class="text-mono text-success col-6">{{signup_form.email.name}} : </label>
                        {% render_field signup_form.last_name class="form-control terminal-entry text-terminal" id=signup_form.email.name password=signup_form.email.name required=True %}
                        {% for error in signup_form.last_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="{{signup_form.password.name}}" class="text-mono text-success col-6">{{signup_form.password.name}} : </label>
                        {% render_field signup_form.last_name class="form-control terminal-entry text-terminal" id=signup_form.password.name name=signup_form.password.name required=True %}
                        {% for error in signup_form.last_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>

                    <!-- <div class="col-md-6 mb-3">
                      <label for="{{signup_form.last_name.name}}" class="text-mono text-success col-6">{{signup_form.last_name.name}} : </label>
                        {% render_field signup_form.last_name class="form-control terminal-entry text-terminal" placeholder=signup_form.last_name.name required=True %}
                        {% for error in signup_form.last_name.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div> -->

                </div>

                <!-- username
                <div class="mb-3">

                    <div class="col-6"></div>
                    <div class="col-6">
                      {% render_field signup_form.username class="form-control terminal-entry text-terminal" id=signup_form.username.name required=True %}                    
                    </div>
                    
                    {% if signup_form.username.errors %}
                        {% for error in signup_form.username.errors %}
                        <div class="text-mono text-danger">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>

                email 
                <div class="mb-3">
                    {% render_field signup_form.email class="form-control terminal-entry text-terminal" placeholder=signup_form.email.name required=True %}
                    {% if signup_form.email.errors %}
                        {% for error in signup_form.email.errors %}
                            <div class="invalid-feedback text-mono text-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                password 
                <div class="mb-5">
                    {% render_field signup_form.password class="form-control terminal-entry text-terminal" placeholder=signup_form.password.name required=True %}
                    {% if signup_form.password.errors %}
                        {% for error in signup_form.password.errors %}
                            <div class="text-mono text-danger">
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div> -->

                <div class="d-flex justify-content-center" > 
                  <button class="btn btn-shadow text-mono btn-outline-success btn-sm btn-block col-4" type="submit">Register</button>
                </div>

                
            </form>
        </div>

    <div class="col-2"></div>



    </div>




  </div>
</div>


